<div>
  <div class="container">
    <h1>New Event</h1>
    <hr>
    <form name="newEventForm">
      <fieldset>
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName" ng-model="event.name" placeholder="Name of your event...." required>
        <label for="eventDate">Event Date:</label>
        <input type="text" id="eventDate" ng-model="event.date" placeholder="format (mm/dd/yyyy)...." ng-pattern="/\d\d/\d\d/\d\d\d\d/" required>
        <label for="eventTime">Event Time:</label>
        <input type="text" id="eventTime" ng-model="event.time" placeholder="start and end time....">
        <label for="eventLocation">Event Location:</label>
        <input type="text" id="eventLocation" ng-model="event.location.address" placeholder="Address for the event">
        <br>
        <input type="text" id="eventCity" ng-model="event.location.city" class="input-small" placeholder="City....">
        <input type="text" id="eventProvince" ng-model="event.location.province" class="input-small" placeholder="Procince...">

        <label for="eventImageUrl">Image:</label>
        <input type="url" id="eventImageUrl" ng-model="event.imageUrl" class="input-large" placeholder="Url of image...">
        <br>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="saveEvent(event, newEventForm)" ng-disabled="newEventForm.$invalid">Save</button>
        <button type="submit" class="btn btn-defult" ng-click="cancelEdit()">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>